@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,800;1,100;1,300&family=Roboto+Condensed&family=Source+Sans+3:ital,wght@1,500;1,700&display=swap');

.foodRestaurant {
    width: 100%;
    position: relative;
    background-image: url("../../../assets/images/greyimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    &__container {
        max-width:1140px;
        margin: 0 auto;
        padding: 55px 0;
        @media (max-width: 760px) {
            padding: 55px 20px;
        }
    }
    &__info {
        position: relative;
        padding-top:50px;
        color:#fff;
        margin-bottom: 50px;
        &:before {
            content:"";
            background-image: url("../../../assets/images/orangearrow.svg");
            width: 68px;
            height: 15px;
            background-repeat: repeat-x;
            background-position: left top;
            background-size: 15px 6px;
            position: absolute;
            bottom: -50px;
            left: 50%;
            right: 50%;
            margin-left: -22px;
            display: block;
        }
        @media (max-width: 760px) {
            margin-bottom: 10px;
        }
    }
    &__title {
        text-align: center;
        font-size: 31px;
        font-family:'Roboto Condensed', sans-serif;
        @media (max-width: 760px) {
            font-size: 20px;
        }
    }
    &__row {
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        gap: 2em;
        @media (max-width: 760px) {
            width: 100%;
            flex-direction: column;
        }
    }
    &__row-content {
        flex: 0 1 50%;
        margin-top: 50px;
        color:#D0D4DA;
        font-size: 17px;
    }
    &__row-paragraph {
        line-height: 29px;
    }
}

.foodzimg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
