@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,800;1,100;1,300&family=Roboto+Condensed&family=Source+Sans+3:ital,wght@1,500;1,700&display=swap');

.foodz{
    width: 100%;
    position: relative;
}

.foodzblog{
    max-width:1140px;
    margin: 0 auto;
    padding: 55px 0;
}

.foodzimg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.foodztitle{
    position: relative;
    padding-top:50px;
    color:#fff;
    margin-bottom: 50px;
}

.foodztitle:before{
    content:"////////";
    position: absolute;
    bottom:-50%;
    left:48%;
    font-size: 30px;
    color:orange;
}

.foodztitle_h1{
    text-align: center;
    font-size: 31px;
    font-family:'Roboto Condensed', sans-serif;
}

.foodztextblog {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    gap: 2em;
}

.foodz_text{
    flex: 0 1 50%;
    margin-top: 50px;
    color:#D0D4DA;
    font-size: 17px;
}

.foodz_paragraph {
    line-height: 29px;
}
