.slider {
  margin: 0 !important;
  padding: 0 !important;
}

.animate-slider {
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

  &__container-fluid {
    width: 100%;
  }
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 1.0s;
    &.active-anim {
      opacity: 1;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__fon {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__blog {
    max-width: 1140px;
    margin: 0 auto;
    color: red;
    font-size: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    @media (max-width: 1165px) {
      justify-content: center;
    }
  }
  &__container {
    margin-right: 20px;
    @media (max-width: 760px) {
      margin: 0;
    }
    img {
      max-width: 87px;
      height: 87px;
      margin-bottom: 20px;
      @media (max-width: 760px) {
        max-width: 47px;
      }
    }
  }
  &__title {
    font-size: 80px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 40px;
    @media (max-width: 760px) {
      font-size: 25px;
    }
  }
  &__subtitle {
    font-size: 50px;
    color: rgb(227, 215, 182);
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 20px;
    @media (max-width: 760px) {
      font-size: 15px;
    }
  }
}

.btn-slide {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}
.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}
.next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
}

