
.weparent {
    width:100%;
    background-color:#1D2130;
    background-image: url('../../../assets/images/greyimg.jpg');
    background-size: cover;
    background-position: center;
    /* margin-bottom: 90px; */
}

.weserve{
    max-width:1140px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    column-gap: 50px;
    padding: 105px 0;
}

.weserveone {
    position: relative;
    left:150px;
    width: 386px;
    height: 476px;
    background-image: url("../../../assets/images/Men.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.weserveone:before {
    content: '';
    background-image: url("../../../assets/images/terev.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 108px;
    height: 108px;
    position: absolute;
    top: 8%;
    left: -25%;
}

.weservetwo{
    width: 50%;
    height:100%;
}

.weservetwo .weservetwo-title{
    color:#fff;
    padding: 0 10px;
    margin-bottom: 40px;
    margin-left: 18px;
}

.border-fon {
    position: absolute;
    top: 40%;
    right:65%;
    animation: img-2 10s linear infinite;
}

.fon-text {
    position: absolute;
    bottom: -25%;
    right: 18%;
}

.imganime{
    position:absolute;
    top: 60%;
    right:75%;
    z-index: 1;
    animation: img-1 10s linear infinite;
}

@keyframes img-1{
    0%{
        top:350px;
    }
    25%{
        top: 300px;
    }
    100%{
        top: 350px;
    }
}

@keyframes img-2{
    0%{
        top: 250px;
    }
    25%{
        top: 200px;
    }
    100%{
        top: 250px;
    }
}

.modal-weserve {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(49, 49, 49, 0.8);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalimg-weserve {
    width: 750px;
    height: 100%;
}

.hoddog-weserve {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.more {
    width: 50px;
    padding: 10px 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.iteminfo-title {
    font-size: 20px;
}


