@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.foodparallax{
    width: 100%;
    height:400px;
}

.foodparallaxblog{
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.parallaxtext{
    padding: 20px;
    text-align: center;
}

.parallaxtext label input{
    padding:15px 95px 15px 15px;
    outline: none;
    border:none;
    background-color: #2D323F;
    color:#fff;
    font-size: 18px;
}

.for{
    font-size: 26px;
    color:#ffffff;
    font-family:"Oswald", sans-serif;
}

.parallaxtext_h1{
    font-size: 33px;
    color:#fff;
    font-family:"Oswald", sans-serif;
}

.parallaxtext label{
    display: flex;
    justify-content: space-between;
}

#parallaxhref{
    padding: 15px 40px;
    background-color: #fff;
    color:#000;
    margin-left: 10px;
    border-radius:5px;
}
