@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.foodParallax{
    width: 100%;
    height:400px;
    &__container {
        max-width: 1140px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        @media (max-width: 760px) {
            width: 100%;
            padding: 0 20px;
        }
    }
    &__content {
        padding: 20px;
        text-align: center;
    }
    &__item {
        font-size: 26px;
        color:#ffffff;
        font-family:"Oswald", sans-serif;
        @media (max-width: 760px) {
            font-size: 20px;
        }
    }
    &__title {
        font-size: 33px;
        color:#fff;
        font-family:"Oswald", sans-serif;
        @media (max-width: 760px) {
            font-size: 25px;
        }
    }
    &__inp {
        padding:15px 95px 15px 15px;
        outline: none;
        border:none;
        background-color: #2D323F;
        color:#fff;
        font-size: 18px;
        border-radius:5px;
        @media (max-width: 760px) {
            font-size: 10px;
            padding: 0 5px;
        }
    }
    &__label {
        display: flex;
        justify-content: space-between;
    }
    &__link {
        padding: 15px 40px;
        background-color: #fff;
        color:#000;
        margin-left: 10px;
        border-radius:5px;
    }
}
