.header {
    width: 100%;
    position: relative;
    &__container {
        max-width: 1140px;
        margin: 0 auto;
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding:25px 0;
        transition:all 1s;
        color:#fff;
    }
    &__icons {
        position: relative;
        i {
            transition: 0.5s ease;
            margin: 0 15px;
            letter-spacing: 0.5rem;
            cursor: pointer;
            &:hover {
                color: #ccc;
            }
        }
        .bag-dark {
            &:after {
                content: 'No products in the cart.';
                width: 200px;
                padding: 25px 20px;
                background-color: #222635;
                position: absolute;
                top: 40px;
                left: -90px;
                opacity: 0;
                visibility: hidden;
                color: #fff;
                text-align: center;
                transition: 0.5s ease;
                z-index: 1;
                letter-spacing: normal;
            }
            &:hover {
                &:after {
                    opacity: 1;
                    visibility: visible;
            }
            }
        }
    }
    &__menu {
        width:100%;
        color:#fff;
    }
    &__container-menu {
        max-width: 804px;
        margin: 0 auto;
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__nav {
        width:70px;
        text-align: center;
        display: inline-block;
        padding-bottom: 35px;
        position: relative;
        transition: all 0.5s ease;
        img {
            width:40px;
            cursor: pointer;
            padding:10px 0;
        }
    }
    &__nav-link {
        text-decoration: none;
        color:#fff;
        font-weight: bold;
        transition: 0.5s ease;
        &:hover {
            color: grey;
        }
    }
}
