.foodmenu {

}

.slider {

}

.foodclick{
    width:100%;
    padding-top:100px;
}

.foodclick1{
    max-width: 1140px;
    margin: 0 auto;
}

  .foodclick1 .burger_list{
    text-align: center;
  }

  .btnburgers:hover{
    color:rgb(122, 120, 120);
  }

 .list_product {
    list-style: none;
    display: inline-block;
  }

 .btnburgers{
     color:#fff;
 }

  .btnburgers {
    text-decoration: none;
    color: #636770;
    font-weight: 600;
    font-size: 35px;
    background: none;
    border: none;
    cursor: pointer;
    padding:20px 20px 0;
  }

  .slider {
    width: 85%;
    margin: 100px auto;
    padding:20px 0;
  }

  .itemblog {
      max-width: 250px;
      margin-left: 18px;
      border: 1px solid #fff;
      transition:all 0.3s ease;
      padding:0 10px;
      box-sizing: border-box;
  }

  .itemblog:hover #btn2 {
      display: block;
  }

  .itemblog:hover .clicksearch {
      opacity: 1;
      visibility: visible;
  }

  .itemblog:hover .clicksearchwhite {
      visibility: visible;
      opacity: 1;
  }

  .itemblogimg {
      width: 100%;
      height: 200px;
  }

  .itemblogimg img {
      width: 100%;
  }

  .iteminfo {
      width: 100%;
      padding: 0 20px;
  }

  #more {
      width: 50px;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
  }

  .iteminfotext{
      padding-top: 10px;
  }

  .iteminfoparent{
      display: inline-block;
      margin-top: 40px;
  }

  #lorem {
      font-size: 14px;
      line-height: 20px;
      color:#C5C9D0;
      padding-top: 80px;
  }

  #leal {
      padding-top: 18px;
      color:#fff;
  }

  #btn2 {
      width: 200px;
      height: 40px;
      background-color: #6fba54;
      margin: 0 auto;
      border: none;
      display: none;
      cursor: pointer;
  }

  .excalation {
      color: #ccc;
  }

  .itemblog:hover .clicksearch {
    visibility: visible;
  }
  .spanclose {
    color: #000;
    position: absolute;
    right: 10%;
    top: 2%;
  }

  .iteminfo-title{
    color:#fff;
    font-size: 20px;
  }

  .link_blog{
    padding-top: 20px;
  }

  .link_href{
    background-color: #6FBA54;
    border-radius: 50px;
    padding:5px 15px;
    border:none;
    font-size: 13px;
  }

  .link_href::before{
    content:"standart";
    color:#fff;
  }

  .link_href1{
    border:1px solid #414755;
    border-radius:50px;
    background-color: transparent;
    color:#fff;
    padding:5px 8px;
    font-size: 13px;
    margin-left: 10px;
  }

  .link_href1::before{
    content:"Big";
    color:#fff;
  }

  .click_blog{
    margin-top: 50px;
  }

  .click_blog .click_href {
    text-align: center;
  }

  .click_list{
    display: inline-block;
  }

  .click_blog .click_href{
    text-align: center;
  }

  .click_btn{
    background: transparent;
    color:#fff;
    border:1px solid grey;
    font-size: 15px;
    padding:5px 10px;
    margin:0 10px;
    cursor: pointer;
    border-radius:5px;
  }

  .click_btn.active {
    background: #fff;
    color: #000;
  }

  .section1{
    width:100%;
    margin:100px auto;
}

.section1-container {
    max-width: 1140px;
    margin: 0 auto;
}

.titlesection1{
    width:400px;
    margin:0 auto;
    padding:20px 0;
    font-size: 20px;
}

.itemblogparent-section {
    width:100%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
}

.itemblog{
    max-width:250px;
    height: fit-content;
    display:block;
    justify-content: space-between;
    align-items: center;
    border:1px solid transparent;
    transition:all 1s ease;
    padding: 13px 13px 20px;
}

.itemblogimg-section-fon {
    object-fit: cover;
    width: 100%;
}

.itemblog:hover{
    border:1px solid #ccc;
  }

.iteminfo-section{
    width:100%;
}

.itemblog-section-title {
    font-size: 20px;
    font-weight: 700;
    color: #3A3D49;
    margin-top: 20px;
}

.itemblog #leal {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-top: 20px;
}

#lorem {
    font-size: 14px;
    padding-top: 15px;
}

.slider {
  width: 100%;
}

.slider-container {
  max-width: 1140px;
  margin: 0 auto;
}

.slider {
  width: 100%;
}

.itemblog {
  max-width: 250px;
  margin-left: 18px;
  transition: all 0.5s ease;
  border: 1px solid transparent;
  padding: 20px 10px;
}

.itemblog:hover {
  border: 1px solid grey;
}

.itemblog:hover #btn2 {
    background-color: #6fba54;
    opacity: 1;
    display: inline-block;
    column-gap: 10px;
}

.itemblog #btn2 {
    transition: all 0.5s ease;
}

.itemblog #btn2 i {
    margin-right: 10px;
}

.itemblog #btn2:hover {
    background-color: #519242;
}

.itemblogimg {
  width: 100%;
  height: 200px;
}

.itemblogimg img {
  width: 100%;
}

.iteminfo {
  width: 100%;
  margin-top: 40px;
}

#more {
  width: 50px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

label {
  padding: 10px 0;
}

select {
  width: 90%;
  margin: 5px 10px;
  outline: none;
  border: 1px solid #ccc;
  padding: 5px 0;
}

#lorem {
  font-size: 14px;
  padding: 5px 0;
  line-height: 20px;
}

#leal {
    margin: 5px 0;
    color: #fff;
}

.itemblog #btn2 {
  max-width: 100%;
  height: 40px;
  opacity: 0;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  display: inline-block;
  transition: 0.5s ease;
}

.excalation {
  color: #ccc;
}

#iconsspan i {
  text-align: center;
  cursor: pointer;
}

.divspani {
  width: 100px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  bottom: 70%;
  left: 2%;
  visibility: hidden;
}

.itemblog:hover .divspani {
  visibility: visible;
}

.modal-blog4 {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(49, 49, 49, 0.8);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spanclose {
  color: #000;
  position: absolute;
  right: 10%;
  top: 2%;
}

.modalimg-blog4 {
  width: 750px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 25%;
  border: 1px solid #fff;
}

.hoddog-blog4 {
  width: 100%;
}
