.slider {
  width: 100%;
  padding:20px 0;
  margin-top: 100px;
  &__content {
    max-width: 264px;
    border: 1px solid transparent;
    transition:all 0.3s ease;
    padding: 13px 0 23px 0;
    margin-right: 20px;
    box-sizing: border-box;
    @media (max-width: 760px) {
      width: 100%;
      overflow: hidden;
    }
    &:hover {
      border:1px solid #6d6b6b;
      .slider__btn {
        background-color: #6fba54;
        opacity: 1;
        display: inline-block;
        column-gap: 10px;
        visibility: visible;
      }
      .clickSearch {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__image {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__info {
    padding: 13px;
  }
  &__info-img {
    margin-bottom: 5px;
  }
  &__row {
    display: inline-block;
    margin: 40px 0 10px 0;
  }
  &__row-title {
    color:#fff;
    font-size: 20px;
  }
  &__row-text {
    padding-top: 10px;
  }
  &__row-paragraph {
    font-size: 14px;
    line-height: 20px;
    color:#C5C9D0;
  }
  &__row-more {
    padding-top: 20px;
  }
  &__row-addFirst {
    background-color: #6FBA54;
    border-radius: 50px;
    padding:5px 15px;
    border:none;
    font-size: 13px;
    display: inline-block;
    color: #fff;
    cursor: pointer;
  }
  &__row-addSecond {
    border:1px solid #414755;
    border-radius:50px;
    background-color: transparent;
    color:#fff;
    padding:5px 8px;
    font-size: 13px;
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
  }
  &__row-price {
    padding-top: 18px;
    color:#fff;
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__btn {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    background-color: #6fba54;
    border: none;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    display: inline-block;
    transition:all 0.3s ease;
    i {
      margin-right: 10px;
    }
  }
  &__row-more-tasks {
    &:nth-child(1n) {
      margin-bottom: 10px;
    }
  }
}


