.clicksearch {
    width: 100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    bottom: 70%;
    left: 2%;
    opacity: 0;
    visibility: hidden;
    border-radius: 4px;
}

.iconsspan-dark {
    width: 40px;
    padding: 15px 12px;
    margin: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    background-color: #1A2131;
    cursor: pointer;
}

.iconsspan-dark i {
    text-align: center;
    cursor: pointer;
    color:#fff;
}

.iconsspan-dark i:hover {
    color: grey;
}
